chumpy
imageio
jpeg4py
joblib
kornia
loguru
trimesh[easy] --no-deps 
open3d
matplotlib
numpy
omegaconf==2.0.6
open3d
Pillow
PyOpenGL
pyrender
scikit-image
scikit-learn
scipy
smplx
tqdm
yacs
fvcore
nflows
PyYAML
flask
fastapi
uvicorn
python-multipart
mediapipe
pandas
plotly